.best {
    padding-top: 40px;
    padding-bottom: 40px;
}

.best__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 24px;
}

.best__item {
}

.best__img {
}

.icon {
}
.icon--shipping {
}
.best__title {
}
.best__desc {
}
.icon--finance {
}
.icon--lock {
}