.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
}

.icon--ticket-percent {
    fill: #fefefe;
}

.icon--arrow-right {
    stroke: var(--yellow);
}

.icon--close {
    width: 20px;
    height: 20px;
    fill: #343839;
}

.icon--chevron-down {
    width: 18px;
    height: 18px;
    stroke: var(--black);
}

.icon--search {
    width: 24px;
    height: 24px;
    stroke: var(--black);
}

.icon--user {
    width: 24px;
    height: 24px;
    stroke: var(--black);
}

.icon--cart {
    width: 24px;
    height: 24px;
    stroke: var(--black);
}