.nav {
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: #ffc95c;
}

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo {
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.nav__item {
}

.nav__link {
}

.nav__btns {
}